/* 设置页面背景颜色和字体 */
body {
    background: #f7f7f7; /* 白色背景 */
    font-family: 'Roboto', sans-serif;
}

/* 设置表格样式 */
table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    background-color: #e0e0e0; /* 灰色背景 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #555; /* 深灰色边框 */
    padding: 12px;
    text-align: center;
}

th {
    background-color: #888; /* 深灰色表头背景 */
    color: #fff;
}

/* 添加查询表单样式 */
.query-form {
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #2889ce; /* 蓝色标题 */
}

.query-input {
    padding: 10px;
    width: 150px;
    border: 2px solid #333; /* 深灰色边框 */
    border-radius: 5px;
    margin-right: 10px;
}

.query-button {
    padding: 12px 24px;
    background-color: #666; /* 深灰色按钮背景 */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.query-button:hover {
    background-color: #444; /* 深灰色按钮悬停背景 */
}
